[MASTER]
# Specify the maximum number of characters per line (default: 100)
max-line-length = 120
init-hook='import sys; sys.path.append("."); sys.path.append('../')'

[MESSAGES CONTROL]
# Enable or disable specific messages or message categories
disable = C0303, W0613, W0603, C0413

[FORMAT]
# Configure the output format (e.g., colorized output)
max-line-length = 120
indent-string = "    "

[TYPECHECK]
# Set type-checking options (if using Python 3.5+ with type hints)
generated-members = __init__
